
{%extends 'base.html'%}
{%load static%}
{%block title%}
Makamole Business Services  ~WELCOME
{%endblock%}

{%block content%}
  <section id="hero-static" class="hero-static d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <h2>Welcome to <span>Makamole Business Services</span></h2>
      <div class="d-flex">
        <a href="/about" class="btn-get-started scrollto">Read more</a>
        <a href="https://youtu.be/00pTr5xlTuw" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>

      
{%endblock%}
